html, body {
    height: 100%;
    width: 100%;
    color:white;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}

.bar:hover {
    fill:azure;
}


#tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 1px;
    font-size: 1em;
    background-color: white;
    margin: auto;
    padding: 25px;
    color: black;
    text-align: center;


}

button {
    width: 100%
}

a {
    color: white;
}